

//- thead in table

//- article filter
mixin article-header-filter(key, filterBy)
	.article-header-filter
		form.form-inline(role='form')
			.btn-group(data-toggle='buttons')
				if filterBy.filter
					each filter, index in filterBy.filter
						if index === 0
							label.btn.uu-btn.active(ng-click="filterBy.#{key}='#{filter.value}'", ng-init="filterBy.#{key}='#{filter.value}'")
								input(checked, type='radio')
								| #{filter.label}
						else
							label.btn.uu-btn(ng-click="filterBy.#{key}='#{filter.value}'")
								input(type='radio')
								| #{filter.label}
			if block
				block


mixin order-details()
	fieldset(uu-form-field='isCustometInfoEditable')
		legend 基本信息
		+hgroup
			+input('客户姓名', 'name')(ng-model='user.name')
		+hgroup
			+input('订单编号', 'order')(ng-model='user.order')
		+hgroup
			+input('客户性别', 'sex')(ng-model='user.gender')
		+hgroup
			+input('订购产品', 'good')(ng-model='user.good')
		+hgroup
			+input('联系电话', 'telphone')(ng-model='user.telphone')
		+hgroup
			+input('起订日期', 'startDate')(ng-model='user.startDate')
		+hgroup
			+input('儿童姓名', 'child-name')(ng-model='user.childName')
		+hgroup
			+input('结束日期', 'enddate')(ng-model='user.enddate')
		+hgroup
			+input('儿童性别', 'child-gender')(ng-model='user.childGender')
		+hgroup
			+input('支付方式', 'payway')(ng-model='user.payway')
		+hgroup
			+input('出生日期', 'birthday')(ng-model='user.birthday')
		+hgroup
			+input('支付状态', 'pay-status')(ng-model='user.payStatus')
		.form-group.col-xs-12.location
			.control-label(for='location-details')
				| 详细地址
			div.location-wrap
				.input-group.col-xs-3
					span.input-group-addon 省
					input.form-control.input-sm
				.input-group.col-xs-3
					span.input-group-addon 市
					input.form-control.input-sm
				.input-group.col-xs-4
					span.input-group-addon 详细
					input.form-control.input-sm(value='宁夏路208号')


//- Searches
//- ----------------------

mixin linkage-search(action)
	.article-header-search
		form.form-inline(role='form')
			.form-group
				select.form-control.input-sm(ng-model='searchModel.filter', ng-options='filter.name for filter in filters', ng-change='resetSubFilter()')
				select.form-control.input-sm(ng-model='searchModel.subfilter', ng-options='filter.value as filter.name for filter in searchModel.filter.subfilters', ng-show='searchModel.filter.subfilters')
				input.form-control.input-sm(ng-model='searchModel.subfilter', ng-show='searchModel.filter.input')
				input.form-control.input-sm(ng-model='searchModel.subfilter', uu-date-picker, ng-show='searchModel.filter.datetime')
			if block
				block
			.btn.uu-btn(ng-click=action)
				+tooltip('查询', 'top')
					+glyphicon('search')


mixin bi-search(options)
	.article-header-search
		form.form-inline(role='form')
			.form-group
				+plain-select('', 'customer-scope', options)
				input.form-control.input-sm(ng-model='searchModel.keyword')
			if block
				block
			.btn.uu-btn
				+tooltip('查询', 'top')
					+glyphicon('search')
