
mixin action-bar()
	div.clearfix
		ul.action-bar
			block
		ul.action-bar.pull-right
			li
				+tooltip('站内提醒', 'top')(ui-sref='root.utils.message')
					+glyphicon('comment')
			li
				+tooltip('群发信息', 'top')(ui-sref='root.utils.batchmsg')
					+glyphicon('envelope')

//- article filter
mixin article-header-filter(key, filters)
	.article-header-filter
		form.form-inline(role='form')
			.btn-group(data-toggle='buttons')
				if filters
					each filter, index in filters
						if index === 0
							label.btn.uu-btn.active(ng-click="#{key}='#{filter.value}'", ng-init="#{key}='#{filter.value}'")
								input(checked, type='radio')
								| #{filter.label}
						else
							label.btn.uu-btn(ng-click="#{key}='#{filter.value}'")
								input(type='radio')
								| #{filter.label}
			if block
				block


mixin order-details()
	fieldset(uu-form-field='isCustometInfoEditable')
		legend 基本信息
		+hgroup
			+input('客户姓名', 'name')(ng-model='currentOrder.customer.name')
		+hgroup
			+input('订单编号', 'order')(ng-model='currentOrder.orders_no')
		+hgroup
			+gender('客户性别', 'customer-gender')(ng-model='currentOrder.customer.sex')
		+hgroup
			+input('订购产品', 'good')(ng-model='currentOrder.good')
		+hgroup
			+input('联系电话', 'telphone')(ng-model='currentOrder.customer.phone')
		+hgroup
			+input('起订日期', 'startDate')(ng-model='currentOrder.effective', uu-date-picker)
		+hgroup
			+input('儿童姓名', 'child-name')(ng-model='currentOrder.customer.child')
		+hgroup
			+input('结束日期', 'enddate')(ng-model='currentOrder.deadline', uu-date-picker)
		+hgroup
			+gender('儿童性别', 'child-gender')(ng-model='currentOrder.customer.c_sex')
		+hgroup
			+input('支付方式', 'payway')(ng-model='currentOrder.payway')
		+hgroup
			+input('出生日期', 'birthday')(ng-model='currentOrder.customer.birthday', uu-date-picker)
		+hgroup
			+select('支付状态', 'pay-status')(ng-model='currentOrder.paid')
				+option('未付费', 0)
				+option('已付费', 1)
		.form-group.col-xs-12.location
			.control-label(for='location-details')
				| 详细地址
			div.location-wrap
				.input-group.col-xs-3
					span.input-group-addon 省
					input.form-control.input-sm(ng-model='currentOrder.customer.province')
				.input-group.col-xs-3
					span.input-group-addon 市
					input.form-control.input-sm(ng-model='currentOrder.customer.city')
				.input-group.col-xs-4
					span.input-group-addon 详细
					input.form-control.input-sm(ng-model='currentOrder.customer.address')


//- Searches
//- ----------------------

mixin linkage-search(action)
	.article-header-search
		form.form-inline(role='form')
			.form-group
				select.form-control.input-sm(ng-model='searchModel.filter', ng-options='filter.name for filter in filters', ng-change='resetSubFilter()')
				select.form-control.input-sm(ng-model='searchModel.subfilter', ng-options='filter.value as filter.name for filter in searchModel.filter.subfilters', ng-show='searchModel.filter.subfilters')
				input.form-control.input-sm(ng-model='searchModel.subfilter', ng-show='searchModel.filter.input')
			+grouped-input('开始时间', 'start-time')(ng-show='searchModel.filter.datetime', ng-model='searchModel.subfilter.startTime', uu-date-picker, min-view='1', format='yyyy-mm-dd hh:00')
			+grouped-input('结束时间', 'end-time')(ng-show='searchModel.filter.datetime', ng-model='searchModel.subfilter.endTime', uu-date-picker, min-view='1', format='yyyy-mm-dd hh:00')
			if block
				block
			.btn.uu-btn(ng-click=action)
				+tooltip('查询', 'top')
					+glyphicon('search')


mixin bi-search(options)
	.article-header-search
		form.form-inline(role='form')
			.form-group
				+plain-select('', 'customer-scope', options)
				input.form-control.input-sm(ng-model='searchModel.keyword')
			if block
				block
			.btn.uu-btn
				+tooltip('查询', 'top')
					+glyphicon('search')


