
mixin action-bar()
	div.clearfix
		ul.action-bar
			block
		ul.action-bar.pull-right
			li
				+tooltip('站内提醒', 'top')(ui-sref='root.utils.message')
					+glyphicon('comment')
			li
				+tooltip('群发信息', 'top')(ui-sref='root.utils.batchmsg')
					+glyphicon('envelope')

//- article filter
mixin article-header-filter(key, filters)
	.article-header-filter
		form.form-inline(role='form')
			.btn-group(data-toggle='buttons')
				if filters
					each filter, index in filters
						if index === 0
							label.btn.uu-btn.active(ng-click="#{key}='#{filter.value}'", ng-init="#{key}='#{filter.value}'")
								input(checked, type='radio')
								| #{filter.label}
						else
							label.btn.uu-btn(ng-click="#{key}='#{filter.value}'")
								input(type='radio')
								| #{filter.label}
			if block
				block

//- article filter
mixin article-filter(key, filter)
	.article-header-filter
		form.form-inline(role='form')
			.btn-group(data-toggle='buttons' ng-init="#{key}='#{filter.init}'")
				if filter.filterItems
					each filterItem, index in filter.filterItems
						label.btn.uu-btn(ng-click="#{key}='#{filterItem.value}'" ng-class="{active: #{key}=='#{filterItem.value}'}")
							input(checked, type='radio')
							| #{filterItem.label}
			if block
				block


mixin order-details()
	fieldset
		legend 基本信息
		table.form-table(ng-show='isCustometInfoEditable')
			tr
				+input('客户姓名', 'name')(ng-model='currentOrder.customer.name')
				+static-input('订单编号', 'order')(ng-bind='currentOrder.order_no')
			tr
				+gender('客户性别', 'customer-gender')(ng-model='currentOrder.customer.sex')
				+input('订购产品', 'good')(ng-model='currentOrder.good')
			tr
				+input('联系电话', 'form-telphone')(ng-model='currentOrder.customer.phone')
				+input('起订日期', 'startDate')(ng-model='currentOrder.effective', uu-date-picker)
			tr
				+input('儿童姓名', 'child-name')(ng-model='currentOrder.customer.child')
				+input('结束日期', 'enddate')(ng-model='currentOrder.deadline', uu-date-picker)
			tr
				+gender('儿童性别', 'child-gender')(ng-model='currentOrder.customer.c_sex')
				+payment('支付方式', 'payment')(ng-model='currentOrder.payment')
			tr
				+input('出生日期', 'birthday')(ng-model='currentOrder.customer.birthday', uu-date-picker)
				+pay-status('支付状态', 'pay-status')(ng-model='currentOrder.paid')
			tr
				+input-address('地址', 'order-address', 3)(ng-province-model='currentOrder.customer.province' ng-city-model='currentOrder.customer.city' ng-addr-model='currentOrder.customer.address' ng-required='true')
		table.form-table(ng-show='!isCustometInfoEditable')
			tr
				+static-input('客户姓名', 'name')(ng-bind='currentOrder.customer.name')
				+static-input('订单编号', 'order')(ng-bind='currentOrder.order_no')
			tr
				+static-input('客户性别', 'customer-gender')(ng-bind='currentOrder.customer.sex | gender')
				+static-input('订购产品', 'good')(ng-bind='currentOrder.good')
			tr
				+static-input-phone('联系电话', 'form-telphone')(ng-bind='currentOrder.customer.phone')
				+static-input('起订日期', 'startDate')(ng-bind='currentOrder.effective')
			tr
				+static-input('儿童姓名', 'child-name')(ng-bind='currentOrder.customer.child')
				+static-input('结束日期', 'enddate')(ng-bind='currentOrder.deadline')
			tr
				+static-input('儿童性别', 'child-gender')(ng-bind='currentOrder.customer.c_sex | gender')
				+static-input('支付方式', 'payment')(ng-bind='currentOrder.payment | payment')
			tr
				+static-input('出生日期', 'birthday')(ng-bind='currentOrder.customer.birthday')
				+static-input('支付状态', 'pay-status')(ng-bind='currentOrder.paid | payStatus')
			tr
				+input-address('地址', 'order-address', 3)(ng-disabled='true' ng-province-model='currentOrder.customer.province' ng-city-model='currentOrder.customer.city' ng-addr-model='currentOrder.customer.address' ng-required='true')

//- Searches
//- ----------------------

mixin linkage-search(action)
	.article-header-search
		form.form-inline(role='form')
			.form-group
				select.form-control.input-sm(ng-model='searchModel.filter', ng-options='filter.name for filter in filters', ng-change='resetSubFilter()')
				select.form-control.input-sm(ng-model='searchModel.subfilter', ng-options='filter.value as filter.name for filter in searchModel.filter.subfilters', ng-show='searchModel.filter.subfilters')
				input.form-control.input-sm(ng-model='searchModel.subfilter', ng-show='searchModel.filter.input')
			+grouped-input('时间', 'date-time')(ng-show='searchModel.filter.date', ng-model='searchModel.subfilter.startTime', uu-date-picker, min-view='1', format='yyyy-mm-dd hh:00')
			+grouped-input('开始时间', 'start-time')(ng-show='searchModel.filter.datetime', ng-model='searchModel.subfilter.startTime', uu-date-picker, min-view='1', format='yyyy-mm-dd hh:00')
			+grouped-input('结束时间', 'end-time')(ng-show='searchModel.filter.datetime', ng-model='searchModel.subfilter.endTime', uu-date-picker, min-view='1', format='yyyy-mm-dd hh:00')
			if block
				block
			.btn.uu-btn(ng-click=action)
				+tooltip('查询', 'top')
					+glyphicon('search')


mixin bi-search(options)
	.article-header-search
		form.form-inline(role='form')
			.form-group
				+plain-select('', 'customer-scope', options)
				input.form-control.input-sm(ng-model='searchModel.keyword')
			if block
				block
			.btn.uu-btn
				+tooltip('查询', 'top')
					+glyphicon('search')


