//- Inputs
//- ----------------------

mixin input(title, id, colspan)
	th.form-th(ng-show=attributes['ng-jade-show'])
		label.form-th-label(for='form-' + id)=title
	td.form-td(ng-show=attributes['ng-jade-show'] colspan=colspan)
		input.form-control.input-sm(id='form-' + id)&attributes(attributes)

mixin input-phone(title, id)
	th.form-th
		label.form-th-label(for='form-' + id)=title
	td.form-td
		.input-group
			input.form-control.input-sm(id='form-telphone')&attributes(attributes)
			.input-group-addon
				+tooltip('外呼', 'top')
					+glyphicon('earphone')

mixin input-address(title, id, colspan)
	th.form-th
		label.form-th-label(for='form-' + id)=title
	td.uu-city-select.form-td(colspan=colspan)&attributes(attributes)

mixin static-input(title, colspan)
	th.form-th
		label.form-th-label=title
	td.form-td(colspan=colspan)
		p.form-control-static&attributes(attributes)

//- 4 label, 6 input
mixin input-tweak(title, id)
	label.control-label.col-xs-4(for='form-' + id)=title
	.col-xs-6
		input.form-control.input-sm(id='form-' + id)&attributes(attributes)


//- free label, free input
mixin plain-input(title, id)
	label.control-label(for='form-' + id)=title
		input.form-control.input-sm(id='form-' + id)&attributes(attributes)

//- 3 label, 7 input, message-multi
mixin short-input(title, id)
	label.control-label(for='form-' + id)=title
	input.form-control.input-sm(id='form-' + id)&attributes(attributes)
	if block
		block

//- input addon
mixin grouped-input(title, id)
	.input-group(ng-show=attributes['ng-show'])
		label.input-group-addon(for='form-' + id)=title
		input.form-control.input-sm(id='form-' + id)&attributes(attributes)


//- Textarea
//- ----------------------

//- 3 label, 7 from-control
mixin textarea(title, id, colspan)
	th.form-th
		label.form-th-label(for='form-' + id)=title
	td.form-td(colspan=colspan)
		textarea.form-control(id='form-' + id)&attributes(attributes)

mixin plain-textarea(title, id)
	label.control-label(for='form-' + id)=title
	textarea.form-control(id='form-' + id)&attributes(attributes)



//- Select
//- ----------------------

//- 3 label, 7 from-control
mixin select(title, id)
	th.form-th
		label.form-th-label(for='form-' + id)=title
	td.form-td
		select.form-control.input-sm(id='form-' + id)&attributes(attributes)
			block

mixin select-sm(title, id)
	label.control-label.form-label-normal(for='form-' + id)=title
	select.form-control-normal.form-control.input-sm(id='form-' + id)&attributes(attributes)
		block

//- 3 label, 7 from-control, multi-row
mixin multi-select(title, id)
	label.control-label.col-xs-3(for='form-' + id)=title
	.col-xs-7
		select.form-control(id='form-' + id)&attributes(attributes)
			block

//- 4 label, 6 from-control
mixin select-tweak(title, id)
	label.control-label.col-xs-4(for='form-' + id)=title
	.col-xs-6
		select.form-control.input-sm(id='form-' + id)&attributes(attributes)
			block

//- free label, free from-control
mixin plain-select(title, id, options)
	if title
		label.control-label(for='form-' + id)=title
	select.form-control.input-sm(id='form-' + id)&attributes(attributes)
		if options
			each val in options
				+option(val.title, val.value)

mixin option(title, value)
	if value === null
		- var value = title
	option(value=value)&attributes(attributes)=title


//- bootstrap short input helper
mixin submit(title, id)
	.col-xs-7.col-xs-offset-3
		if block
			block

mixin yesno(title, id, yesVal, noVal)
	- yesVal = yesVal ? yesVal : '是'
	- noVal = noVal ? noVal : '否'
	+select(title, id)&attributes(attributes)
		+option(yesVal, 1)
		+option(noVal, 0)

//- 性别
mixin gender(title, id)
	+select(title, id)&attributes(attributes)
		+option('女', 0)
		+option('男', 1)

//- 审核状态
mixin order-status(title, id)
	+select(title, id)&attributes(attributes)
		+option('待审核', 1)
		+option('审核中', 2)
		+option('无效', 3)
		+option('审核通过', 4)

//- 订单类型
mixin order-type(title, id)
	+select(title, id)&attributes(attributes)
		+option('单品订单', 0)
		+option('多品订单', 1)

//- 付款方式
mixin payment(title, id)
	+select(title, id)&attributes(attributes)
		+option('银行', 1)
		+option('支付宝', 2)
		+option('货到付款', 3)

//- 付款方式
mixin pay-status(title, id)
	+select(title, id)&attributes(attributes)
		+option('银行', 1)
		+option('支付宝', 2)
		+option('货到付款', 3)

//- 是否付款
mixin isPaid(title, id)
	+select(title, id)&attributes(attributes)
		+option('付款', 0)
		+option('未付款', 1)

//- 失效标识
mixin isValid(title, id)
	+select(title, id)&attributes(attributes)
		+option('有效', 0)
		+option('无效', 1)

//- 订单来源
mixin order-source(title, id)
	+select(title, id)&attributes(attributes)
		+option('网站套餐', 0)
		+option('电话', 1)

mixin workflow-group(title, id)
	+select(title, id)&attributes(attributes)
		+option('审单组', 1)
		+option('拆单组', 2)

mixin commdity-type(title, id)
	+select(title, id)&attributes(attributes)
		+option('教材', 1)
		+option('音像制品(DVD/CD)', 2)
		+option('玩具', 3)
		+option('其它', 4)

//- 投诉分类
mixin complain-type(title, id)
	+select(title, id)&attributes(attributes)
		+option('发票抬头错误', 31)
		+option('未开发票', 32)
		+option('开票时间长', 33)
		+option('发票丢失', 34)
		+option('客服态度不好', 35)
		+option('客服不专业', 36)
		+option('客服电话难打', 37)
		+option('物流慢', 38)
		+option('货物丢失', 39)
		+option('物品破损', 310)
		+option('快递态度', 311)

//- 电话状态
mixin phone-status(title, id)
	+select(title, id)&attributes(attributes)
		+option('无人接', 1)
		+option('占线', 2)
		+option('接听', 3)
		+option('停机', 4)
		+option('空号', 5)
		+option('错号', 6)

//- 紧急程度
mixin urgency-level(title, id)
	+select(title, id)&attributes(attributes)
		+option('一般', 1)
		+option('优先', 2)
		+option('紧急', 3)

//- 主题
mixin contact-topic(title, id)
	+select(title, id)&attributes(attributes)
		+option('核实订单', 1)
		+option('投诉', 2)
		+option('回访', 3)
		+option('催费', 4)
		+option('促进销售', 5)

//- 处理结果
mixin deal-result(title, id)
	+select(title, id)&attributes(attributes)
		+option('待处理', 1)
		+option('处理中', 2)
		+option('已完成', 3)

mixin storage-type(title, id)
	+select(title, id)&attributes(attributes)
		+option('一般入库', 1)
		+option('退货入库', 2)
		+option('调货入库', 3)
		+option('调货出库(在途)', 4)
		+option('一般出库', 5)

//- 退订原因
mixin return-reason(title, id)
	+select(title, id)&attributes(attributes)
		+option('价格贵,收入低', 1)
		+option('价格贵,性价比不高', 2)
		+option('内容简单', 3)
		+option('内容太难', 4)
		+option('内容太普通,不感兴趣', 5)
		+option('学校老师教,发了同类产品', 6)
		+option('家人说不好', 7)
		+option('内容量太少', 8)
		+option('孩子不喜欢', 9)
		+option('质量不好', 10)
		+option('物流太慢', 11)
		+option('客服态度不好', 12)
		+option('书本缺页', 13)
		+option('赠品缺漏', 14)
		+option('玩具缺漏', 15)
		+option('光盘损坏', 16)

//- 退货类别
mixin return-type(title, id)
	+select(title, id)&attributes(attributes)
		+option('全部', 0)
		+option('部分', 1)

//- 调换类别
mixin exchange-type(title, id)
	+select(title, id)&attributes(attributes)
		+option('绘本', 11)
		+option('玩具', 12)

//- 申请调换科目
mixin exchange-content(title, id)
	+select(title, id)&attributes(attributes)
		+option('汉语小镇', 11)
		+option('数理摩天轮', 12)
		+option('入学准备书', 12)
		+option('科学探索营', 12)
		+option('DVD', 12)

//- 调换原因
mixin exchange-reason(title, id)
	+select(title, id)&attributes(attributes)
		+option('破损', 1)
		+option('缺漏', 2)

//- 调换进度
mixin exchange-progress(title, id)
	+select(title, id)&attributes(attributes)
		+option('申请中', 0)
		+option('发货中', 1)
		+option('已完成', 1)

//- 调换结果
mixin freight-payer(title, id)
	+select(title, id)&attributes(attributes)
		+option('客户', 1)
		+option('公司', 2)
		+option('快递公司', 3)

