mixin thead(ths, blnNoOperation)
	thead
		tr&attributes(attributes)
			if ths
				each th in ths
					th=th
				if !blnNoOperation
					th 操作
			else
				block


mixin theadplus(records, ths)
	- ths = ths || 'ths'
	thead
		tr(ng-dblclick=attributes['ng-dblclick'])
			if records
				th.nowrap
					.checkbox
						label
							input(type='checkbox' ng-model='isAllChecked' ng-init='isAllChecked=false' ng-click='toggleCheckAll("isAllChecked", #{records})')
							| 全选
			th.nowrap(ng-repeat='th in #{ths}' ng-show='th.isChecked' ng-class='{"sort": th.sortable}' uu-sort="th.sortable" sort-name='th.name' action='sortBy(name, type)')
				| {{th.label}}
				+th-filter(ng-if='th.filters')
					+glyphicon('filter')
				ul.dropdown-menu(ng-if='th.filters' role='menu')
					li(ng-repeat='filter in th.filters')
						a(href='', ng-bind='filter')
			if (attributes.operation)
				th.nowrap=attributes.operation

mixin tdchecker(items, item)
	td.escontent
		input(type='checkbox' ng-model=attributes['ng-model'] ng-show=attributes['ng-show'] ng-click='checkIsAllChecked("isAllChecked", #{items}, #{item})')


mixin th-filter()
	a(href='' ng-if=attributes['ng-if'] data-toggle='dropdown' class!=attributes.class)
		if block
			block
