include ../../modules/mixins.jade

//- 功能区
.criteria-bar
	form.form-inline(role='form')
		.from-group
		.form-group
			button.btn.uu-btn.btn-primary(ng-click='newMsgTemplet()') 新增模板
			- var statusOptions = [{title: '未发送', value: 0}, {title: '已发送', value: 1}, {title: '已送达', value: 0}]
			+plain-select('发送状态', 'customer-scope', statusOptions)
		.form-group
			+plain-input('电话号码', 'form-phone')


//- 短信过滤条件
.filter-bar
	.btn-group(data-toggle='buttons')
		- var filters = [{title: '今天', action: "ilterPay.payStatus=''"}, {title: '昨天', action: "ilterPay.payStatus=''"}, {title: '前天', action: "ilterPay.payStatus=''"}, {title: '近3天', action: "ilterPay.payStatus=''"}, {title: '近7天', action: "ilterPay.payStatus=''"}, {title: '近30天', action: "ilterPay.payStatus=''"}, ]
		each filter, index in filters
			if index === 0
				label.btn.uu-btn.active(ng-click=filter.action)
					input(checked, name='customer-type', type='radio')
					span=filter.title
			else
				label.btn.uu-btn(ng-click=filter.action)
					input(name='customer-type', type='radio')
					span=filter.title
	form.form-inline(role='form', style="display: inline; margin-left: 20px;")
		.form-group
			+plain-input('开始时间', 'form-major-phone')(ng-model='startTime', uu-date-picker, min-view='0', format='yyyy-mm-dd hh:ii')
		.form-group
			+plain-input('结束时间', 'form-becalled-phone')(ng-model='startTime', uu-date-picker, min-view='0', format='yyyy-mm-dd hh:ii')
		.form-group
			.btn.uu-btn.btn-primary 查询
			.btn.uu-btn.btn-danger 重置

table.uu-table
	+thead
		each th in ['号码', '发送时间', '短信内容', '发送状态', '操作人']
			th=th
		th.opration 操作
	tbody
		tr(ng-repeat='msg in msgs | filter:filterPay')
			td(ng-bind='msg.phone')
			td(ng-bind='msg.sendTime')
			td(ng-bind='msg.content')
			td(ng-bind='msg.contactPeriod')
			td(ng-bind='msg.avgContactPeriod')
			td(ng-bind='msg.totalOnlineTime')
			td(ng-bind='msg.outPhoneNum')
			td(ng-bind='msg.succRate')
			td(ng-bind='msg.inPhoneNum')
			td(ng-bind='msg.avgDealTime')
			td(ng-bind='msg.avgContactTime')
			td(ng-bind='msg.avgQueueTime')
			td(ng-bind='msg.onelineRate')
			td(ng-bind='msg.phoneExchangeRate')
			td(ng-bind='msg.useRate')

uu-pagination(records='102', page='currentPage', model='searchModel', action='getOrders()')

//- 新增短信模板
+modal('new-msg-templet')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 新增短信模板
	.modal-body
		form.form-horizontal
			fieldset
				.form-group
					+select('主题', 'topic')(ng-model='user.topic')
						+option('核实订单', 0)
						+option('投诉', 1)
						+option('回访', 2)
						+option('催费', 3)
						+option('促进销售', 4)
				.form-group
					+textarea('内容', 'content')(ng-model="content")
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='save()') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- to enable bootstrap multi modal
//- include ../../modules/modal-fix.jade

