include ../../modules/mixins.jade

//- 功能区
.criteria-bar
	form.form-inline(role='form')
		.form-group
			label(to-full-week='date')
		.form-group
			label(for='customer-scope') 检索
			- var customerOptions = [{title: '所有客户', value: 0}, {title: '我的客户', value: 0}, {title: '我共享的客户', value: 0}, {title: '共享给我的客户', value: 0}, {title: '下属的客户', value: 0}]
			select#customer-scope.form-control.input-sm(name='customerScope')
				each val in customerOptions
					+option(val.title, val.value)

//- 主管权限
.filter-bar
	.btn-group(data-toggle='buttons')
		label.btn.uu-btn.active(ng-click='filterPay.payStatus=""')
			input(checked, name='customer-type', type='radio')
			| 所有
		label.btn.uu-btn(ng-click='filterPay.payStatus=1')
			input(name='customer-type', type='radio')
			| 网络分流
		label.btn.uu-btn(ng-click='filterPay.payStatus=0')
			input(name='customer-type', type='radio')
			| 电话分流

//- 网络客服
//- -----------------------------------------------------------------
.info-panel
	- var netInfos = ['当前在线咨询人数', '已接待人数', '等待人数']
	h3.info-panel-title 网络客服
	ul.list-inline
		each info in netInfos
			li
				span.info=info + ':'
				span.val(ng-bind='')

//- 员工列表
table.uu-table
	+thead
		each th in ['时间', '出勤人数', '工号', '姓名', '接待量', '会话时长', '状态', '备注']
			th=th
		th.opration 操作
	tbody
		tr(ng-repeat='employee in employees | filter:filterPay')
			td(ng-bind='employee.weekDay')
			td(ng-bind='employee.onelineNum')
			td(ng-bind='employee.SN')
			td(ng-bind='employee.name')
			td(ng-bind='employee.dealedOrderNum')
			td(ng-bind='employee.contactPeriod')
			td(ng-bind='employee.status')
			td(ng-bind='employee.ps')
			td
				+tooltip('修改', 'top', 'update(employee)')
					+glyphicon('pencil') &nbsp;

				+tooltip('导出', 'top', 'export()')
					+glyphicon('comment')

//- 电话客服
//- -----------------------------------------------------------------
.info-panel
	- var phoneInfos = ['当前进线量', '接起量', '外呼量', '等待量']
	h3.info-panel-title 电话客服
	ul.list-inline
		each info in phoneInfos
			li
				span.info=info + ':'
				span.val(ng-bind='')

//- 员工列表
table.uu-table
	+thead
		each th in ['时间', '出勤人数', '工号', '姓名', '接待量', '会话时长', '状态', '备注']
			th=th
		th.opration 操作
	tbody
		tr(ng-repeat='employee in employees | filter:filterPay')
			td(ng-bind='employee.weekDay')
			td(ng-bind='employee.onelineNum')
			td(ng-bind='employee.SN')
			td(ng-bind='employee.name')
			td(ng-bind='employee.dealedOrderNum')
			td(ng-bind='employee.contactPeriod')
			td(ng-bind='employee.status')
			td(ng-bind='employee.ps')
			td
				+tooltip('修改', 'top', 'update(employee)')
					+glyphicon('pencil') &nbsp;

				+tooltip('导出', 'top', 'export()')
					+glyphicon('comment')


//- 订单详情Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal
			fieldset
				legend 基本信息
				.form-group.col-xs-6
					+input('客户姓名', 'name')(ng-model='user.name')
				.form-group.col-xs-6
					+input('订单编号', 'order')(ng-model='user.order')
				.form-group.col-xs-6
					+input('客户性别', 'sex')(ng-model='user.gender')
				.form-group.col-xs-6
					+input('订购产品', 'good')(ng-model='user.good')
				.form-group.col-xs-6
					+input('联系电话', 'telphone')(ng-model='user.telphone')
				.form-group.col-xs-6
					+input('起订日期', 'startDate')(ng-model='user.startDate')
				.form-group.col-xs-6
					+input('儿童姓名', 'child-name')(ng-model='user.childName')
				.form-group.col-xs-6
					+input('结束日期', 'enddate')(ng-model='user.enddate')
				.form-group.col-xs-6
					+input('儿童性别', 'child-gender')(ng-model='user.childGender')
				.form-group.col-xs-6
					+input('支付方式', 'payway')(ng-model='user.payway')
				.form-group.col-xs-6
					+input('出生日期', 'birthday')(ng-model='user.birthday')
				.form-group.col-xs-6
					+input('支付状态', 'pay-status')(ng-model='user.payStatus')

			fieldset
				legend 详细地址
				.form-group.form-group-sm
					label.control-label.label-location
						span 省：山东省
						span 市：青岛市
						span 详细: 宁夏路208号
			fieldset
				legend 订单
				table.uu-table
					+thead
						each th in ['订单编号', '客户姓名', '订单产品', '下单日期', '支付方式', '支付状态', '出生日期', '订单状态', '操作']
							th=th
					tbody
						tr
							td 123071231
							td 李四民
							td 季度
							td 2014-10-15
							td 在线支付
							td 已支付
							td 2010-06-01
							td 正常
							td
								+tooltip('修改', 'left')
									+glyphicon('pencil') &nbsp;

								+tooltip('共享订单', 'top', 'shareOrder()')
									+glyphicon('send')

			p
				ul.list-inline
					li 联系记录
					li
						+tooltip('核实订单', 'top', 'addContact()')
							+glyphicon('plus')
					li
						+jslink('search()')
							+glyphicon('search')


