include ../../modules/mixins.jade

//- 功能区
.criteria-bar
	form.form-inline(role='form')
		.form-group
			- var customerOptions = [{title: '全部来电', value: 0}, {title: '近3天', value: 0}, {title: '近5天', value: 0}, {title: '近一周', value: 0}, {title: '近一月', value: 0}]
			+plain-select('来电状态', 'customer-scope', customerOptions)
		.form-group
			+plain-input('主叫号码', 'form-major-phone')
		.form-group
			+plain-input('被叫号码', 'form-becalled-phone')

//- 订单列表过滤条件
.filter-bar
	.btn-group(data-toggle='buttons')
		- var filters = [{title: '今天', action: "ilterPay.payStatus=''"}, {title: '昨天', action: "ilterPay.payStatus=''"}, {title: '前天', action: "ilterPay.payStatus=''"}, {title: '近3天', action: "ilterPay.payStatus=''"}, {title: '近7天', action: "ilterPay.payStatus=''"}, {title: '近30天', action: "ilterPay.payStatus=''"}, ]
		each filter, index in filters
			if index === 0
				label.btn.uu-btn.active(ng-click=filter.action)
					input(checked, name='customer-type', type='radio')
					span=filter.title
			else
				label.btn.uu-btn(ng-click=filter.action)
					input(name='customer-type', type='radio')
					span=filter.title
	form.form-inline(role='form', style="display: inline; margin-left: 20px;")
		.form-group
			+plain-input('开始时间', 'form-major-phone')
		.form-group
			+plain-input('结束时间', 'form-becalled-phone')
		.form-group
			.btn.uu-btn.btn-primary 查询
			.btn.uu-btn.btn-danger 重置
//- 员工列表
table.uu-table
	+thead
		each th in ['工号', '姓名', '处理订单量', '总通话时间', '平均通话时长', '总在线时间', '外呼量', '成单率', '呼入量', '平均后处理时间', '平均通话时长', '平均排队时间', '出勤率', '呼叫转接率', '利用率']
			th=th
		th.opration 操作
	tbody
		tr(ng-repeat='employee in employees')
			td(ng-bind='employee.SN')
			td(ng-bind='employee.name')
			td(ng-bind='employee.dealedOrderNum')
			td(ng-bind='employee.contactPeriod')
			td(ng-bind='employee.avgContactPeriod')
			td(ng-bind='employee.totalOnlineTime')
			td(ng-bind='employee.outPhoneNum')
			td(ng-bind='employee.succRate')
			td(ng-bind='employee.inPhoneNum')
			td(ng-bind='employee.avgDealTime')
			td(ng-bind='employee.avgContactTime')
			td(ng-bind='employee.avgQueueTime')
			td(ng-bind='employee.onelineRate')
			td(ng-bind='employee.phoneExchangeRate')
			td(ng-bind='employee.useRate')
			td
				+tooltip('修改', 'top', 'update(employee)')
					+glyphicon('pencil') &nbsp;

				+tooltip('导出', 'top', 'export()')
					+glyphicon('comment')


//- 订单详情Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal
			+order-details

			fieldset
				legend 订单
				table.uu-table
					+thead
						each th in ['订单编号', '客户姓名', '订单产品', '下单日期', '支付方式', '支付状态', '出生日期', '订单状态', '操作']
							th=th
					tbody
						tr
							td 123071231
							td 李四民
							td 季度
							td 2014-10-15
							td 在线支付
							td 已支付
							td 2010-06-01
							td 正常
							td
								+tooltip('修改', 'left')
									+glyphicon('pencil') &nbsp;
								+tooltip('共享订单', 'top', 'shareOrder()')
									+glyphicon('send')

			p
				ul.list-inline
					li 联系记录
					li
						+tooltip('核实订单', 'top', 'checkOrder()')
							+glyphicon('plus')
					li
						+jslink('search()')
							+glyphicon('search')

//- 共享订单Modal
+submodal('share-order')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 修改负责人
	.modal-body
		form.form-horizontal
			.form-group
				- var responsorOptions = [{title: '拆单组', value: 0}, {title: '审单组', value: 1}]
				+select('修改负责人', 'responsor')(ng-model='order.responsor')
					each val in responsorOptions
						+option(val.title, val.value)
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='save()') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 核实订单Modal
+submodal('contact-history')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal
			fieldset
				.form-group
					+select('主题', 'topic')(ng-model='user.topic')
						+option('核实订单', 0)
						+option('投诉', 1)
						+option('回访', 2)
						+option('催费', 3)
						+option('促进销售', 4)
				.form-group
					+select('处理结果', 'deal-result')(ng-model='user.dealResult')
						+option('已完成', 0)
						+option('处理中', 1)
						+option('待处理', 1)
				.form-group
					+input('联系时间', 'contact-time')(ng-model='user.contactTime')
				.form-group
					+input('负责人', 'contact-responsor')(ng-model='user.responsor')
				.form-group
					+select('电话状态', 'phone-status')(ng-model='user.phoneStatus')
						+option('无人接', 0)
						+option('占线', 1)
						+option('接听', 2)
						+option('停机', 3)
						+option('空号', 4)
						+option('错号', 5)
				.form-group
					+select('紧急程度', 'urgency')(ng-model='user.urgency')
						+option('一般', 0)
						+option('优先', 1)
						+option('紧急', 1)
				.form-group
					+textarea('内容', 'content')(ng-model="content")
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='save()') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- to enable bootstrap multi modal


