include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('新建', 'top')
			+glyphicon('plus')
		ul.dropdown-menu(role="menu")
			li
				+jslink('globalNewOrder()', '新建订单')
			li
				+jslink('globalNewTicket()', '新建工单')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')
	li
		+tooltip('过滤条件', 'top')(class='dropdown-toggle')
			+glyphicon('filter')
		ul.dropdown-menu(role="menu")
			each filter in ['本月处理订单', '当日处理订单', '当日未处理订单', '当日完结订单', '预约客户订单']
				li
					a(href='')=filter

//- 搜索
+linkage-search()
	//- +grouped-input('开始时间', 'start-time')(ng-model='searchModel.startTime', uu-date-picker, min-view='0', format='yyyy-mm-dd hh:ii')
	//- +grouped-input('结束时间', 'end-time')(ng-model='searchModel.endTime', uu-date-picker, min-view='0', format='yyyy-mm-dd hh:ii')

//- 订单列表过滤条件
- var filters = []
- filters.push({label: '所有', value: '""'})
- filters.push({label: '已付费', value: 1})
- filters.push({label: '未付费', value: 0})
+article-header-filter('searchModel.paid', filters)


//- 过滤条件
- var filters = []
- filters.push({label: '今天', value: '""'})
- filters.push({label: '昨天', value: 0})
- filters.push({label: '前天', value: 1})
- filters.push({label: '近3天', value: 1})
- filters.push({label: '近7天', value: 1})
- filters.push({label: '近30天', value: 1})
+article-header-filter('searchModal.payStatus', filters)


//- 员工列表
table.uu-table(ng-show='orders.length')
	+theadplus()(operation='操作', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='order in orders')
			td(ng-bind='order.customer.name', ng-show='ths[0].isChecked')
			td(ng-bind='order.customer.sex | gender', ng-show='ths[1].isChecked')
			+td-phone(ng-bind='order.customer.phone' ng-show='ths[2].isChecked')
			td(ng-bind='order.order_no' ng-show='ths[3].isChecked')
			td(ng-bind='order.order_name', ng-show='ths[4].isChecked')
			td(ng-bind='order.customer.city', ng-show='ths[5].isChecked')
			td(ng-bind='order.customer.address', ng-show='ths[6].isChecked')
			td(ng-bind='order.alipay', ng-show='ths[7].isChecked')
			td(ng-bind='order.create_time', ng-show='ths[8].isChecked')
			td(ng-bind='order.status | orderStatus', ng-show='ths[9].isChecked')
			td(ng-bind='order.order_type | orderType', ng-show='ths[10].isChecked')
			td(ng-bind='order.payment | payment', ng-show='ths[11].isChecked')
			td(ng-bind='order.paid | payStatus', ng-show='ths[12].isChecked')
			td(ng-bind='order.sumAmount', ng-show='ths[13].isChecked')
			td(ng-bind='order.order_details', ng-show='ths[14].isChecked')
			td.nowrap
				+tooltip('修改', 'top', 'update(employee)')
					+glyphicon('pencil') &nbsp;

				+tooltip('导出', 'top', 'export()')
					+glyphicon('comment')

uu-pagination(records='orders.meta.recordsCount', per-page='{{orders.meta.pageSize}}' page='orders.meta.pageNo', model='searchModel', action='getOrderList()')

//- 订单详情Modal
+modal('order-details', 'modal-xg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal
			+order-details
			fieldset
				legend 订单
				table.uu-table
					+thead
						each th in ['订单编号', '客户姓名', '订单产品', '下单日期', '支付方式', '支付状态', '出生日期', '订单状态', '操作']
							th=th
					tbody
						tr
							td 123071231
							td 李四民
							td 季度
							td 2014-10-15
							td 在线支付
							td 已支付
							td 2010-06-01
							td 正常
							td
								+tooltip('修改', 'left')
									+glyphicon('pencil') &nbsp;

								+tooltip('共享订单', 'top', 'shareOrder()')
									+glyphicon('send')

			div(uu-tab)
				div(uu-pane, title='联系记录')

					div(ng-show='!records.length')
						+tooltip('新建联系记录', 'top', 'newContact()')
							+glyphicon('plus')

					table.uu-table(ng-show='records')
						+thead
							each th in ['主题', '处理结果', '紧急程度', '联系内容', '电话状态', '联系时间', '下次回访日期', '投诉分类', '负责人']
								th=th
						tbody
							tr(ng-repeat='contact in contacts')
								td
									+jslink('showContact(contact)')(ng-bind='contact.topic')
								td(ng-bind='contact.dealResult')
								td(ng-bind='contact.urgency')
								td(ng-bind='contact.content')
								td(ng-bind='contact.phoneStatus')
								td(ng-bind='contact.invoicestime')
								td(ng-bind='contact.nextContactTime')
								td(ng-bind='contact.complianType')
				//- 				td(ng-bind='contact.responser')

				div(uu-pane, title='订单管理')
					table.uu-table
						+thead
							each th in ['订单编号', '开始刊号', '截止刊号', '已发货期数', '订单金额', '剩余发货期数', '出生日期', '订单状态', '赠品情况', '发票情况']
								th=th
						tbody
							tr(ng-repeat='order in allOrders')
								td(ng-bind='order.orderSN')
								td(ng-bind='order.startIssues')
								td(ng-bind='order.endIssues')
								td(ng-bind='order.deliverTurns')
								td(ng-bind='order.amount')
								td(ng-bind='order.remainTurns')
								td(ng-bind='order.birtchDay')
								td(ng-bind='order.orderStatus')
								td(ng-bind='order.giftStatus')
								td(ng-bind='order.invoicesStatus')
					fieldset
						legend 退货信息
						+hgroup
							+input-tweak('刊号', 'orderSN')(ng-model='invoices.orderSN')
						+hgroup
							+input-tweak('刊数', 'invoices-content')(ng-model='invoices.content')
						+hgroup
							+input-tweak('合同金额', 'invoices-amount')(ng-model='invoices.invoicesamount')
						+hgroup
							+input-tweak('已收金额', 'invoices-creatTime')(ng-model='invoices.creatTime', uu-date-picker)
						+hgroup
							+input-tweak('已发货未收金额', 'invoices-head')(ng-model='invoices.head')
						+hgroup
							+input-tweak('刊数', 'invoices-sn')(ng-model='invoices.sn')
						+hgroup
							+input-tweak('办理手续费', 'invoices-head')(ng-model='invoices.head')
						+hgroup
							+input-tweak('承担人', 'invoices-sn')(ng-model='invoices.sn')
						+hgroup
							+input-tweak('退款办理手续费', 'invoices-head')(ng-model='invoices.head')
						+hgroup
							+input-tweak('承担人', 'invoices-sn')(ng-model='invoices.sn')
						+hgroup
							+input-tweak('退款金额', 'invoices-head')(ng-model='invoices.head')
						+hgroup
							+input-tweak('实际退款金额', 'invoices-sn')(ng-model='invoices.sn')
						+hgroup
							+input-tweak('退款账号', 'invoices-head')(ng-model='invoices.head')
						+hgroup
							+input-tweak('开户行', 'invoices-sn')(ng-model='invoices.sn')
						+hgroup
							+select-tweak('退订原因', 'deal-result')(ng-model='return.dealResult')
								+option('发票抬头错误', 1)
								+option('未开发票', 2)
								+option('开票时间长', 3)
								+option('发票丢失', 4)
								+option('客服态度不好', 5)
						+hgroup
							+select-tweak('是否到库', 'deal-result')(ng-model='return.dealResult')
								+option('是', 1)
								+option('否', 0)

					fieldset
						legend 产品信息
						.twrap
							.form-group.tgroup
								+select-tweak('换货原因', 'deal-result')(ng-model='return.dealResult')
									+option('发票抬头错误', 1)
									+option('未开发票', 2)
						.twrap
							.form-group.tgroup
								+select-tweak('换货到库状态', 'deal-result')(ng-model='return.dealResult')
									+option('已入库', 1)
									+option('未入库', 2)

							.form-group.tgroup
								+input-tweak('库房', 'deal-result')(ng-model='return.dealResult')

							.form-group.tgroup
								+input-tweak('入库时间', 'deal-result')(ng-model='return.dealResult', uu-date-picker)

						.twrap
							.form-group.tgroup
								+select-tweak('换货发货状态', 'deal-result')(ng-model='return.dealResult')
									+option('已入库', 1)
									+option('未入库', 2)
							.form-group.tgroup
								+input-tweak('库房', 'deal-result')(ng-model='return.dealResult')

							.form-group.tgroup
								+input-tweak('入库时间', 'deal-result')(ng-model='return.dealResult', uu-date-picker)

						.twrap
							.form-group.tgroup
								+input-tweak('发货单号', 'deal-result')(ng-model='return.billNo')

							.form-group.tgroup
								+input-tweak('物流名称', 'deal-result')(ng-model='return.deliverBrand')

							.form-group.tgroup
								+input-tweak('物流单号', 'deal-result')(ng-model='return.deliverSN')

						.twrap
							.form-group.tgroup
								+select-tweak('收货状态', 'deal-result')(ng-model='return.recivedStatus')
									+option('已收货', 1)
									+option('未收货', 2)

				div(uu-pane, title='发货记录')
					table.uu-table
						+thead
							each th in ['订单编号', '发货日期', '发货状态', '产品名称', '快递反馈状态', '物流单号']
								th=th
						tbody
							tr(ng-repeat='record in deliverRecords')
								td(ng-bind='record.orderSN')
								td(ng-bind='record.deliverTime')
								td(ng-bind='record.deliverStatus')
								td(ng-bind='record.goodName')
								td(ng-bind='record.deliverFeedback')
								td(ng-bind='record.deliverSN')

include ../../modules/contact-history.jade

//- 更改显示列
include ../../modules/table-ths.jade
