include ../../modules/mixins.jade

//- 功能区
.criteria-bar
	form.form-inline(role='form')
		.form-group
			- var customerOptions = [{title: '电话号码', value: 0}, {title: '支付状态', value: 0}, {title: '支付方式', value: 0}, {title: '城市', value: 0}]
			+plain-select('查询', 'customer-scope', customerOptions)

//- 订单列表过滤条件
.filter-bar
	.btn-group(data-toggle='buttons')
		- var filters = [{title: '今天', action: "ilterPay.payStatus=''"}, {title: '昨天', action: "ilterPay.payStatus=''"}, {title: '前天', action: "ilterPay.payStatus=''"}, {title: '近3天', action: "ilterPay.payStatus=''"}, {title: '近7天', action: "ilterPay.payStatus=''"}, {title: '近30天', action: "ilterPay.payStatus=''"}, ]
		each filter, index in filters
			if index === 0
				label.btn.uu-btn.active(ng-click=filter.action)
					input(checked, name='customer-type', type='radio')
					span=filter.title
			else
				label.btn.uu-btn(ng-click=filter.action)
					input(name='customer-type', type='radio')
					span=filter.title
	form.form-inline(role='form', style="display: inline; margin-left: 20px;")
		.form-group
			+plain-input('开始时间', 'form-major-phone')(ng-model='startTime', uu-date-picker, min-view='0', format='yyyy-mm-dd hh:ii')
		.form-group
			+plain-input('结束时间', 'form-becalled-phone')(ng-model='startTime', uu-date-picker, min-view='0', format='yyyy-mm-dd hh:ii')
		.form-group
			.btn.uu-btn.btn-primary 查询
			.btn.uu-btn.btn-danger 重置

//- 员工列表
table.uu-table
	+thead(ng-dblclick="chooseTh('table-cols')")
		th
			.checkbox
				label
					input(type='checkbox', ng-model='isAllChecked', ng-init='isAllChecked=false' ng-click='toggleCheckAll("isAllChecked", orders)')
					| 全选
		th(ng-repeat='th in ths', ng-show='th.isChecked', ng-class='{"sort": th.sortable}', uu-sort="th.sortable", sort-name='th.name', action='sortBy(name, type)')
			| {{th.label}}
			+th-filter(ng-if='th.filter')
				+glyphicon('filter')
			ul.dropdown-menu(ng-if='th.filter')(role="menu")
				each filter in ['待审核', '审核中', '审核通过', '无效']
					li
						a(href='')=filter
		th.opration 操作

	tbody
		tr(ng-repeat='order in orders')
			td
				input(type='checkbox', ng-model="order.isChecked", ng-click='checkIsAllChecked("isAllChecked", orders, order)')
			td(ng-bind='order.customerName', ng-show='ths[0].isChecked')
			td(ng-bind='order.gender | gender', ng-show='ths[1].isChecked')
			td(ng-bind='order.customerPhone', ng-show='ths[2].isChecked')
			td(ng-show='ths[3].isChecked')
				+jslink('showOrder(order)')(ng-bind='order.orderSN')
			td(ng-bind='order.orderType', ng-show='ths[4].isChecked')
			td(ng-bind='order.city', ng-show='ths[5].isChecked')
			td(ng-bind='order.area', ng-show='ths[6].isChecked')
			td(ng-bind='order.alipay', ng-show='ths[7].isChecked')
			td(ng-bind='order.orderStatus', ng-show='ths[8].isChecked')
			td(ng-bind='order.payType', ng-show='ths[9].isChecked')
			td(ng-bind='order.payway', ng-show='ths[10].isChecked')
			td(ng-bind='order.payStatus | payStatus', ng-show='ths[11].isChecked')
			td(ng-bind='order.sumAmount', ng-show='ths[12].isChecked')
			td(ng-bind='order.sumAmount', ng-show='ths[13].isChecked')
			td(ng-bind='order.details', ng-show='ths[14].isChecked')
			td
				+tooltip('修改', 'top', 'update(employee)')
					+glyphicon('pencil') &nbsp;

				+tooltip('导出', 'top', 'export()')
					+glyphicon('comment')

uu-pagination(records='102', page='currentPage', model='searchModel', action='getOrders()')

//- 订单详情Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal
			+customer-details
			fieldset
				legend 订单
				table.uu-table
					+thead
						each th in ['订单编号', '客户姓名', '订单产品', '下单日期', '支付方式', '支付状态', '出生日期', '订单状态', '操作']
							th=th
					tbody
						tr
							td 123071231
							td 李四民
							td 季度
							td 2014-10-15
							td 在线支付
							td 已支付
							td 2010-06-01
							td 正常
							td
								+tooltip('修改', 'left')
									+glyphicon('pencil') &nbsp;

								+tooltip('共享订单', 'top', 'shareOrder()')
									+glyphicon('send')

		div(uu-tab)
			div(uu-pane, title='联系记录')

				div(ng-show='!records.length')
					+tooltip('新建联系记录', 'top', 'newRecord()')
						+glyphicon('plus')

				table.uu-table(ng-show='records')
					+thead
						each th in ['主题', '处理结果', '紧急程度', '联系内容', '电话状态', '联系时间', '下次回访日期', '投诉分类', '负责人']
							th=th
					tbody
						tr(ng-repeat='record in records')
							td
								+jslink('showRecord(record)')(ng-bind='record.topic')
							td(ng-bind='record.dealResult')
							td(ng-bind='record.urgency')
							td(ng-bind='record.content')
							td(ng-bind='record.phoneStatus')
							td(ng-bind='record.invoicestime')
							td(ng-bind='record.nextContactTime')
							td(ng-bind='record.complianType')
							td(ng-bind='record.responser')

			div(uu-pane, title='订单管理')
				table.uu-table
					+thead
						each th in ['订单编号', '开始刊号', '截止刊号', '已发货期数', '订单金额', '剩余发货期数', '出生日期', '订单状态', '赠品情况', '发票情况']
							th=th
					tbody
						tr(ng-repeat='order in allOrders')
							td(ng-bind='order.orderSN')
							td(ng-bind='order.startIssues')
							td(ng-bind='order.endIssues')
							td(ng-bind='order.deliverTurns')
							td(ng-bind='order.amount')
							td(ng-bind='order.remainTurns')
							td(ng-bind='order.birtchDay')
							td(ng-bind='order.orderStatus')
							td(ng-bind='order.giftStatus')
							td(ng-bind='order.invoicesStatus')
				fieldset
					legend 退货信息
					+hgroup
						+input('刊号', 'orderSN')(ng-model='invoices.orderSN')
					+hgroup
						+input('刊数', 'invoices-content')(ng-model='invoices.content')
					+hgroup
						+input('合同金额', 'invoices-amount')(ng-model='invoices.invoicesamount')
					+hgroup
						+input('已收金额', 'invoices-creatTime')(ng-model='invoices.creatTime', uu-date-picker)
					+hgroup
						+input('已发货未收金额', 'invoices-head')(ng-model='invoices.head')
					+hgroup
						+input('刊数', 'invoices-sn')(ng-model='invoices.sn')
					+hgroup
						+input('办理手续费', 'invoices-head')(ng-model='invoices.head')
					+hgroup
						+input('承担人', 'invoices-sn')(ng-model='invoices.sn')
					+hgroup
						+input('退款办理手续费', 'invoices-head')(ng-model='invoices.head')
					+hgroup
						+input('承担人', 'invoices-sn')(ng-model='invoices.sn')
					+hgroup
						+input('退款金额', 'invoices-head')(ng-model='invoices.head')
					+hgroup
						+input('实际退款金额', 'invoices-sn')(ng-model='invoices.sn')
					+hgroup
						+input('退款账号', 'invoices-head')(ng-model='invoices.head')
					+hgroup
						+input('开户行', 'invoices-sn')(ng-model='invoices.sn')
					+hgroup
						+select('退订原因', 'deal-result')(ng-model='return.dealResult')
							+option('发票抬头错误', 1)
							+option('未开发票', 2)
							+option('开票时间长', 3)
							+option('发票丢失', 4)
							+option('客服态度不好', 5)
					+hgroup
						+select('是否到库', 'deal-result')(ng-model='return.dealResult')
							+option('是', 1)
							+option('否', 0)

				fieldset.fixlabel
					legend 产品信息
					.form-group.fixwidth
						+select('换货原因', 'deal-result')(ng-model='return.dealResult')
							+option('发票抬头错误', 1)
							+option('未开发票', 2)

					+tgroup
						+select('换货到库状态', 'deal-result')(ng-model='return.dealResult')
							+option('已入库', 1)
							+option('未入库', 2)

					+tgroup
						+input('库房', 'deal-result')(ng-model='return.dealResult')
							+option('已入库', 1)
							+option('未入库', 2)

					+tgroup
						+input('入库时间', 'deal-result')(ng-model='return.dealResult')

					+tgroup
						+select('换货发货状态', 'deal-result')(ng-model='return.dealResult')
							+option('已入库', 1)
							+option('未入库', 2)

					+tgroup
						+input('库房', 'deal-result')(ng-model='return.dealResult')
							+option('已入库', 1)
							+option('未入库', 2)

					+tgroup
						+input('入库时间', 'deal-result')(ng-model='return.dealResult')

					+tgroup
						+input('发货单号', 'deal-result')(ng-model='return.dealResult')

					+tgroup
						+input('物流名称', 'deal-result')(ng-model='return.dealResult')
							+option('已入库', 1)
							+option('未入库', 2)

					+tgroup
						+input('物流单号', 'deal-result')(ng-model='return.dealResult')

					.form-group.fixwidth
						+select('收货状态', 'deal-result')(ng-model='return.dealResult')
							+option('已收货', 1)
							+option('未收货', 2)

			div(uu-pane, title='发货记录')
				table.uu-table
					+thead
						each th in ['订单编号', '发货日期', '发货状态', '产品名称', '快递反馈状态', '物流单号']
							th=th
					tbody
						tr(ng-repeat='record in deliverRecords')
							td(ng-bind='record.orderSN')
							td(ng-bind='record.deliverTime')
							td(ng-bind='record.deliverStatus')
							td(ng-bind='record.goodName')
							td(ng-bind='record.deliverFeedback')
							td(ng-bind='record.deliverSN')

//- 更改显示列
include ../../modules/table-ths.jade
