include ../../modules/mixins.jade

//- 功能区
.criteria-bar
	form.form-inline(role='form')
		.form-group
			- var customerOptions = [{title: '电话号码', value: 0}, {title: '支付状态', value: 0}, {title: '支付方式', value: 0}, {title: '城市', value: 0}]
			+plain-select('查询', 'customer-scope', customerOptions)

//- 订单列表过滤条件
.filter-bar
	.btn-group(data-toggle='buttons')
		- var filters = [{title: '今天', action: "ilterPay.payStatus=''"}, {title: '昨天', action: "ilterPay.payStatus=''"}, {title: '前天', action: "ilterPay.payStatus=''"}, {title: '近3天', action: "ilterPay.payStatus=''"}, {title: '近7天', action: "ilterPay.payStatus=''"}, {title: '近30天', action: "ilterPay.payStatus=''"}, ]
		each filter, index in filters
			if index === 0
				label.btn.uu-btn.active(ng-click=filter.action)
					input(checked, name='customer-type', type='radio')
					span=filter.title
			else
				label.btn.uu-btn(ng-click=filter.action)
					input(name='customer-type', type='radio')
					span=filter.title
	form.form-inline(role='form', style="display: inline; margin-left: 20px;")
		.form-group
			+plain-input('开始时间', 'form-major-phone')(ng-model='startTime', uu-date-picker, min-view='0', format='yyyy-mm-dd hh:ii')
		.form-group
			+plain-input('结束时间', 'form-becalled-phone')(ng-model='startTime', uu-date-picker, min-view='0', format='yyyy-mm-dd hh:ii')
		.form-group
			.btn.uu-btn.btn-primary 查询
			.btn.uu-btn.btn-danger 重置


//- 工单列表
table.uu-table
	+thead(ng-dblclick="chooseTh('table-cols')")
		th
			.checkbox
				label
					input(type='checkbox', ng-model='isAllChecked', ng-init='isAllChecked=false' ng-click='toggleCheckAll("isAllChecked", orders)')
					| 全选
		th(ng-repeat='th in ths', ng-show='th.isChecked', ng-class='{"sort": th.sortable}', uu-sort="th.sortable", sort-name='th.name', action='sortBy(name, type)')
			| {{th.label}}
			+th-filter(ng-if='th.filter')
				+glyphicon('filter')
			ul.dropdown-menu(ng-if='th.filter')(role="menu")
				each filter in ['待审核', '审核中', '审核通过', '无效']
					li
						a(href='')=filter
		th.opration 操作
	tbody
		tr(ng-repeat='order in orders')
			td
				input(type='checkbox', ng-model="order.isChecked", ng-click='checkIsAllChecked("isAllChecked", orders, order)')
			td(ng-bind='order.customerName', ng-show='ths[0].isChecked')
			td(ng-bind='order.gender | gender', ng-show='ths[1].isChecked')
			td(ng-bind='order.customerPhone', ng-show='ths[2].isChecked')
			td(ng-show='ths[3].isChecked')
				+jslink('showOrder(order)')(ng-bind='order.orderSN')
			td(ng-bind='order.city', ng-show='ths[4].isChecked')
			td(ng-bind='order.workstart', ng-show='ths[5].isChecked')
			td(ng-bind='order.workend', ng-show='ths[6].isChecked')
			td(ng-bind='order.responser', ng-show='ths[7].isChecked')
			td(ng-bind='order.workStatus', ng-show='ths[8].isChecked')
			td(ng-bind='order.workType', ng-show='ths[9].isChecked')
			td
				+tooltip('修改', 'top', 'update(employee)')
					+glyphicon('pencil') &nbsp;

				+tooltip('导出', 'top', 'export()')
					+glyphicon('comment')


//- 工单详情Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实工单
	.modal-body
		form.form-horizontal
			+customer-details
			fieldset
				legend 工单
				table.uu-table
					+thead
						each th in ['工单编号', '客户姓名', '工单产品', '下单日期', '支付方式', '支付状态', '出生日期', '工单状态', '操作']
							th=th
					tbody
						tr
							td 123071231
							td 李四民
							td 季度
							td 2014-10-15
							td 在线支付
							td 已支付
							td 2010-06-01
							td 正常
							td
								+tooltip('修改', 'left')
									+glyphicon('pencil') &nbsp;

								+tooltip('共享工单', 'top', 'shareOrder()')
									+glyphicon('send')

			p
				ul.list-inline
					li 联系记录
					li
						+tooltip('核实工单', 'top', 'checkOrder()')
							+glyphicon('plus')
					li
						+jslink('search()')
							+glyphicon('search')

//- 更改显示列
include ../../modules/table-ths.jade
