//- 注意: 文件末尾必须有换行符，否则会造成解析不正确
//- -----------------------------------------

include ./mixins/form.jade
include ./mixins/table.jade
include ./mixins/article.jade

//- Bootstrap helpers
//- ----------------------

//- bootstrap tooltip helper
mixin tooltip(title, placement, action)
	if placement === null
		- var placement = 'bottom'
	a(href='' uu-tooltip data-toggle='dropdown' ng-click=action)&attributes(attributes)
		if block
			block

mixin pagetitle(title)
	h3=title
	hr

//- bootstrap glyphicon helper
mixin glyphicon(className)
	span.glyphicon(class='glyphicon-' + className)
		if block
			block

//- bootstrap modal helper
mixin modal(id, className)
	div(id=id).modal.fade
		if className === null
			- var className = ''
		.modal-dialog(class!=className)
			.modal-content
				if block
					block

//- bootstrap modal helper
mixin submodal(id, className)
	div(id=id).modal.fade.sub-modal
		if className === null
			- var className = ''
		.modal-dialog(class!=className)
			.modal-content
				if block
					block

//- 50% width form group
mixin hgroup()
	.form-group.col-xs-6
		block

//- 33% width form group
mixin tgroup()
	.form-group.tgroup.fixwidth
		block

mixin td-phone(title, position, action)
	td(ng-show=attributes['ng-show'])
		span(ng-bind=attributes['ng-bind'] style='padding-right: 8px;')
		+tooltip('外呼', 'top', 'makePhone(' + attributes['ng-bind'] + ')')(ng-show=attributes['ng-bind'])
			+glyphicon('earphone')

//- Other HTML helpers
//- ----------------------

mixin key-val(key, val)
	span.key=key + ': '
	span.val(ng-bind=val)

mixin sub-navbar-link(href, name)
	a(ui-sref=href, ng-class='{active: $state.is("' + href + '")}')=name


mixin jslink(action, title)
	a.jslink(href='', ng-click=action)&attributes(attributes)=title
		if block
			block

mixin js-glyph(action, iconName, title)
	a.jsglyph(href='', ng-click=action)&attributes(attributes)
		+glyphicon(iconName)
		span.jsglyph-label=title
		if block
			block

mixin info(title)
	p.info-text=title + ': '
		span.info-text-val&attributes(attributes)

//- Bootstrap helpers
//- ----------------------

mixin nav(nav)
	if (nav.subnavs.length)
		li.nav-item(ng-class='{"active open": $state.includes("'+ nav.href + '")}', uu-auth-filter=nav.auth)
			a.nav-menu-label=nav.label
			ul.nav.nav-menu(role='menu')
				each subnav in nav.subnavs
					li(uu-auth-filter=subnav.auth)
						a(ui-sref=subnav.href, ng-class='{active: $state.is("' + subnav.href + '")}')=subnav.label
	else
		li.nav-item(ng-class='{active: $state.includes("'+ nav.href + '")}', uu-auth-filter=nav.auth)
			a(ui-sref=nav.href)=nav.label

