//- 注意: 文件末尾必须有换行符，否则会造成解析不正确
//- -----------------------------------------

include ./mixins/form.jade
include ./mixins/table.jade
include ./mixins/article.jade

//- Bootstrap helpers
//- ----------------------

//- bootstrap tooltip helper
mixin tooltip(title, placement, action)
	if placement === null
		- var placement = 'bottom'
	a(href='', ui-sref=attributes['ui-sref'], uu-tooltip, data-placement=placement, data-toggle='dropdown', title=title, class!=attributes.class, ng-click=action)
		if block
			block

mixin pagetitle(title)
	h3=title
	hr

//- bootstrap glyphicon helper
mixin glyphicon(className)
	span.glyphicon(class='glyphicon-' + className)
		if block
			block



//- bootstrap modal helper
mixin modal(id, className)
	div(id=id).modal.fade
		if className === null
			- var className = ''
		.modal-dialog(class!=className)
			.modal-content
				if block
					block

//- bootstrap modal helper
mixin submodal(id, className)
	div(id=id).modal.fade.sub-modal
		if className === null
			- var className = ''
		.modal-dialog(class!=className)
			.modal-content
				if block
					block

//- 50% width form group
mixin hgroup()
	.form-group.col-xs-6
		block

//- 33% width form group
mixin tgroup()
	.form-group.tgroup.fixwidth
		block

//- Other HTML helpers
//- ----------------------

mixin key-val(key, val)
	span.key=key + ': '
	span.val(ng-bind=val)

mixin sub-navbar-link(href, name)
	a(ui-sref=href, ng-class='{active: $state.is("' + href + '")}')=name


//-
mixin jslink(action)
	a.jslink(href='', ng-click=action, ng-bind=attributes['ng-bind'])
		if block
			block

//- Bootstrap helpers
//- ----------------------

