
//- 注意: 文件末尾必须有回车，否则会造成解析不正确
//- -----------------------------------------



//- Bootstrap helpers
//- ----------------------

//- bootstrap tooltip helper
mixin tooltip(title, placement, action)
	if placement === null
		- var placement = 'bottom'
	a(href='', uu-tooltip, data-placement=placement, data-toggle='tooltip', title=title, class!=attributes.class, ng-click=action)
		if block
			block


//- bootstrap glyphicon helper
mixin glyphicon(className)
	span.glyphicon(class='glyphicon-' + className)
		if block
			block

//- bootstrap input helper
mixin input(title, id)
	label.control-label.col-xs-3(for='form-' + id)=title
	.col-xs-7
		input.form-control(id='form-' + id, ng-click=attributes['ng-click'], ng-model=attributes['ng-model'])

//- bootstrap input helper
mixin textarea(title, id)
	label.control-label.col-xs-3(for='form-' + id)=title
	.col-xs-7
		textarea.form-control(id='form-' + id, ng-click=attributes['ng-click'], ng-model=attributes['ng-model'])

mixin select(title, id)
	label.control-label.col-xs-3(for='form-' + id)=title
	.col-xs-7
		select.form-control.input-sm(id='form-' + id, name=attributes['name'], ng-model=attributes['ng-model'])
			block

//- bootstrap modal helper
mixin modal(id, className)
	div(id=id).modal.fade
		if className === null
			- var className = ''
		.modal-dialog(class!=className)
			.modal-content
				if block
					block

//- bootstrap modal helper
mixin submodal(id, className)
	div(id=id).modal.fade.sub-modal
		if className === null
			- var className = ''
		.modal-dialog(class!=className)
			.modal-content
				if block
					block

//- 50% width form group
mixin hgroup()
	.form-group.col-xs-6
		block

//- Other HTML helpers
//- ----------------------

mixin sub-navbar-link(href, name)
	a(ui-sref=href, ng-class='{active: $state.is("' + href + '")}')=name

//- html option helper
mixin option(title, value)
	if value === null
		- var value = title
	option(value=value)=title

//-
mixin jslink(action)
	a.jslink(href='', ng-click=action, ng-bind=attributes['ng-bind'])
		if block
			block

//- thead in table
mixin thead()
	thead
		tr
			block


