//- 注意: 文件末尾必须有换行符，否则会造成解析不正确
//- -----------------------------------------


//- Bootstrap helpers
//- ----------------------

//- bootstrap tooltip helper
mixin tooltip(title, placement, action)
	if placement === null
		- var placement = 'bottom'
	a(href='', ui-sref=attributes['ui-sref'], uu-tooltip, data-placement=placement, data-toggle='dropdown', title=title, class!=attributes.class, ng-click=action)
		if block
			block


//- bootstrap glyphicon helper
mixin glyphicon(className)
	span.glyphicon(class='glyphicon-' + className)
		if block
			block

//- bootstrap input helper
mixin input(title, id)
	label.control-label.col-xs-3(for='form-' + id)=title
	.col-xs-7
		input.form-control.input-sm(id='form-' + id, ng-click=attributes['ng-click'], ng-model=attributes['ng-model'], ng-disable='true')

//- bootstrap input helper
mixin plain-input(title, id)
	label.control-label(for='form-' + id)=title
	input.form-control.input-sm(id='form-' + id, ng-click=attributes['ng-click'], ng-model=attributes['ng-model'], ng-disable='true')

//- bootstrap input helper
mixin textarea(title, id)
	label.control-label.col-xs-3(for='form-' + id)=title
	.col-xs-7
		textarea.form-control(id='form-' + id, ng-click=attributes['ng-click'], ng-model=attributes['ng-model'])

mixin select(title, id)
	label.control-label.col-xs-3(for='form-' + id)=title
	.col-xs-7
		select.form-control.input-sm(id='form-' + id, name=attributes['name'], ng-model=attributes['ng-model'])
			block

mixin plain-select(title, id, options)
	label.control-label(for='form-' + id)=title
	select.form-control.input-sm(id='form-' + id, name=attributes['name'], ng-model=attributes['ng-model'])
		if options
			each val in options
				+option(val.title, val.value)


mixin th-filter()
	a(href='', ng-if=attributes['ng-if'], data-toggle='dropdown', class!=attributes.class)
		if block
			block

//- html option helper
mixin option(title, value)
	if value === null
		- var value = title
	option(value=value)=title

//- bootstrap modal helper
mixin modal(id, className)
	div(id=id).modal.fade
		if className === null
			- var className = ''
		.modal-dialog(class!=className)
			.modal-content
				if block
					block

//- bootstrap modal helper
mixin submodal(id, className)
	div(id=id).modal.fade.sub-modal
		if className === null
			- var className = ''
		.modal-dialog(class!=className)
			.modal-content
				if block
					block

//- 50% width form group
mixin hgroup()
	.form-group.col-xs-6
		block

//- Other HTML helpers
//- ----------------------

mixin key-val(key, val)
	span.key=key + ': '
	span.val(ng-bind=val)

mixin sub-navbar-link(href, name)
	a(ui-sref=href, ng-class='{active: $state.is("' + href + '")}')=name


//-
mixin jslink(action)
	a.jslink(href='', ng-click=action, ng-bind=attributes['ng-bind'])
		if block
			block

mixin customer-details()
	fieldset(uu-form-field='isCustometInfoEditable')
		legend 基本信息
		+hgroup
			+input('客户姓名', 'name')(ng-model='user.name')
		+hgroup
			+input('订单编号', 'order')(ng-model='user.order')
		+hgroup
			+input('客户性别', 'sex')(ng-model='user.gender')
		+hgroup
			+input('订购产品', 'good')(ng-model='user.good')
		+hgroup
			+input('联系电话', 'telphone')(ng-model='user.telphone')
		+hgroup
			+input('起订日期', 'startDate')(ng-model='user.startDate')
		+hgroup
			+input('儿童姓名', 'child-name')(ng-model='user.childName')
		+hgroup
			+input('结束日期', 'enddate')(ng-model='user.enddate')
		+hgroup
			+input('儿童性别', 'child-gender')(ng-model='user.childGender')
		+hgroup
			+input('支付方式', 'payway')(ng-model='user.payway')
		+hgroup
			+input('出生日期', 'birthday')(ng-model='user.birthday')
		+hgroup
			+input('支付状态', 'pay-status')(ng-model='user.payStatus')
		.form-group.col-xs-12.location
			.control-label(for='location-details')
				| 详细地址
			div.location-wrap
				span
					|省: 山东
				span
					|市: 青岛
				span
					|详细: 宁夏路208号


//- thead in table
mixin thead()
	thead
		tr(ng-dblclick=attributes['ng-dblclick'])
			block


